{% render 'partials/head.liquid', title: person.name %}

<a href="/">Back</a>

<div class="student-card">
  <img
    class="mugshot-picture"
    src="{% if person.mugshot %}https://fdnd.directus.app/assets/{{ person.mugshot }}{% else %}GabgQZoWMAAufWc.jpg{% endif %}"
    alt="{{ person.name }}"
    width="300"
  >
  <h2>{{ person.name }}</h2>
  <p class="squad-info">Squad {{ squad.name }}</p>

  <div class="person-info">
    <h3>Nickname: {{ person.nickname }}</h3>
    {% if person.profilecard %}
      <a href="{{ person.profilecard }}">Bekijk profilecard</a>
    {% else %}
      <h3>Profilecard niet beschikbaar</h3>
    {% endif %}
    <h3>Birthdate: {{ person.birthdate }}</h3>
  </div>
</div>

{% comment %} {% render 'partials/foot.liquid', squads: squads %} {% endcomment %}